Repository mykolaantonivmafpoc/maf-poc: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  branch: develop

  status:
    project:
      default: off
      frontend:
        target: 70%
        flags: frontend
      backend:
        target: 70%
        flags: backend

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

CI: implement coverage reporting (#11)
  .circleci/config.yml
  Makefile
  backend/Makefile
  frontend/Makefile
Due: backend, frontend

ci: push containers to ecr and update ecs
  .circleci/config.yml
  Makefile
Due: none

ci: deployment requires docker
  .circleci/config.yml
Due: none

ui: fix routing when served via nginx
  docker/Dockerfile.static
  docker/nginx.conf
Due: none

Implemented a HATEOAS API middleware and wired to the v1 of the API. Developed tests to a decent coverage (#15)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actions/campaignActions.js
  frontend/src/actions/campaignActions.test.js
  frontend/src/config.js
  frontend/src/constants/campaignConstants.js
  frontend/src/containers/Campaigns/Campaigns.jsx
  frontend/src/middleware/hateoasApi.js
  frontend/src/middleware/hateoasApi.test.js
  frontend/src/reducers/roodReducer.js
  frontend/src/schemas/HATEOAS.js
  frontend/src/schemas/campaignSchema.js
  frontend/src/schemas/index.js
  frontend/src/services/RESTClient.js
  frontend/src/services/RESTClient.test.js
  frontend/src/store/appStore.dev.js
  frontend/src/store/appStore.prod.js
Due: frontend

MP-15: Feature/login (#16)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actions/actions.test.js
  frontend/src/actions/userActions.js
  frontend/src/components/Routing/PrivateRoute/PrivateRoute.jsx
  frontend/src/components/Routing/PrivateRoute/index.js
  frontend/src/constants/userConstants.js
  frontend/src/containers/Login/Login.css
  frontend/src/containers/Login/Login.jsx
  frontend/src/containers/Login/Login.test.jsx
  frontend/src/containers/Login/logo.png
  frontend/src/containers/Root/Root.jsx
  frontend/src/reducers/loginReducer.js
  frontend/src/reducers/loginReducer.test.js
  frontend/src/reducers/rootReducer.js
  frontend/src/services/RESTClient.test.js
  frontend/src/services/authService.js
  frontend/src/setupTests.js
  frontend/src/store/appStore.dev.js
  frontend/src/store/appStore.prod.js
Due: frontend

ui: fix nginx config for react-router
  docker/nginx.conf
Due: none

github: add code quality badges
  README.md
Due: none

ci: enable api/db promotion to ecs
  .circleci/config.yml
Due: none

ui: set up build-time api configuration through envvar (#20)
  .circleci/config.yml
  Makefile
  docker/Dockerfile.static
  frontend/Makefile
  frontend/README.md
  frontend/src/config.js
Due: frontend

ci: build with new dns names, update docs (#22)
  .circleci/config.yml
  README.md
  frontend/README.md
Due: frontend

Feature/mp 18 campaigns list view (#23)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/actions/HATEOASActions.js
  frontend/src/actions/campaignActions.js
  frontend/src/actions/userActions.test.js
  frontend/src/assets/fonts/OpenSans-Bold.ttf
  frontend/src/assets/fonts/OpenSans-Regular.ttf
  frontend/src/assets/fonts/OpenSans-SemiBold.ttf
  frontend/src/components/DataVisualization/CampaignBubbleChart/CampaignBubbleChart.css
  frontend/src/components/DataVisualization/CampaignBubbleChart/CampaignBubbleChart.jsx
  frontend/src/components/DataVisualization/CampaignBubbleChart/index.js
  frontend/src/components/DataVisualization/DataGrid/DataGrid.css
  frontend/src/components/DataVisualization/DataGrid/DataGrid.jsx
  frontend/src/components/DataVisualization/DataGrid/DataGrid.test.jsx
  frontend/src/components/DataVisualization/DataGrid/index.js
  frontend/src/config.js
  frontend/src/constants/HATEOASConstants.js
  frontend/src/containers/Campaign/Campaign.css
  frontend/src/containers/Campaign/Campaign.jsx
  frontend/src/containers/Campaign/index.js
  frontend/src/containers/Campaigns/Campaigns.css
  frontend/src/containers/Campaigns/Campaigns.jsx
  frontend/src/containers/Root/Root.jsx
  frontend/src/middleware/hateoasApi.js
  frontend/src/reducers/rootReducer.js
  frontend/src/schemas/HATEOAS.js
  frontend/src/schemas/campaignSchema.js
  frontend/src/schemas/index.js
Due: frontend

MP-33 #comment affected needed story changes (#27)
  backend/app/app/__init__.py
  backend/app/app/controller/campaign.py
  docker-compose.yml
Due: backend

Feature/mp 20 scattered chart (#28)
  frontend/package.json
  frontend/src/components/DataVisualization/CampaignBubbleChart/CampaignBubbleChart.css
  frontend/src/components/DataVisualization/CampaignBubbleChart/CampaignBubbleChart.jsx
  frontend/src/components/DataVisualization/DataGrid/DataGrid.css
  frontend/src/components/DataVisualization/SettingsPopup/SettingsPopup.jsx
  frontend/src/components/DataVisualization/SettingsPopup/SettingsPopup.scss
  frontend/src/components/DataVisualization/SettingsPopup/index.js
  frontend/src/components/DataVisualization/SettingsPopup/settings.svg
  frontend/src/components/Navigation/CampaignsListFilter/CampaignsListFilter.jsx
  frontend/src/components/Navigation/CampaignsListFilter/CampaignsListFilter.scss
  frontend/src/components/Navigation/CampaignsListFilter/index.js
  frontend/src/components/Navigation/MobileNav/MobileNav.scss
  frontend/src/components/Navigation/PageHeader/PageHeader.jsx
  frontend/src/components/Navigation/PageHeader/PageHeader.scss
  frontend/src/components/Navigation/PageHeader/index.js
  frontend/src/components/Navigation/PageHeader/search.svg
  frontend/src/components/Navigation/SearchableComboList/SearchableComboList.jsx
  frontend/src/components/Navigation/SearchableComboList/SearchableComboList.scss
  frontend/src/components/Navigation/SearchableComboList/index.js
  frontend/src/components/Navigation/SearchableComboList/search.svg
  frontend/src/config.js
  frontend/src/containers/Campaign/Campaign.jsx
  frontend/src/containers/Campaigns/Campaigns.jsx
  frontend/src/containers/NavWrapper/NavWrapper.css
  frontend/src/containers/NavWrapper/NavWrapper.jsx
  frontend/src/containers/Root/Root.jsx
Due: frontend

api: fix api endpoint not sending body back (#29)
  backend/poetry.lock
  docker/Dockerfile.api
  docker/entrypoint.sh
  docker/gunicorn_conf.py
Due: backend

Added logout functionality. (#30)
  frontend/.gitignore
  frontend/src/actions/userActions.js
  frontend/src/actions/userActions.test.js
  frontend/src/components/Navigation/MainNav/MainNav.jsx
  frontend/src/components/Navigation/MainNav/MainNav.scss
  frontend/src/components/Navigation/MainNav/MainNav.test.jsx
  frontend/src/config.js
  frontend/src/containers/NavWrapper/NavWrapper.jsx
Due: frontend

Feature/mp 20 scattered chart coverage (#33)
  frontend/src/App.jsx
  frontend/src/App.scss
  frontend/src/components/DataVisualization/CampaignBubbleChart/CampaignBubbleChart.jsx
  frontend/src/components/DataVisualization/CampaignBubbleChart/CampaignBubbleChart.test.jsx
  frontend/src/components/DataVisualization/CampaignBubbleChart/ChartConfig.js
  frontend/src/components/DataVisualization/DataGrid/DataGrid.test.jsx
  frontend/src/components/Navigation/CampaignsListFilter/CampaignsListFilter.test.jsx
  frontend/src/components/Navigation/PageHeader/PageHeader.test.jsx
  frontend/src/components/Navigation/SearchableComboList/SearchableComboList.jsx
  frontend/src/components/Navigation/SearchableComboList/SearchableComboList.test.jsx
  frontend/src/theme.css
  frontend/src/theme.scss
Due: frontend

Feature/mp 23 filtering on campaign screen (#31)
  frontend/src/actions/campaignActions.js
  frontend/src/components/Navigation/Filter/Filter.jsx
  frontend/src/containers/NavWrapper/NavWrapper.jsx
  frontend/src/middleware/hateoasApi.js
  frontend/src/middleware/hateoasApi.test.js
  frontend/src/reducers/rootReducer.js
  frontend/src/services/RESTClient.js
Due: frontend

MP-43 #comment refactored added filtering and kpi options for both ca… (#32)
  backend/app/app/controller/campaign.py
  backend/app/app/model/__init__.py
Due: backend

Feature/maf login error handling (#34)
  frontend/src/App.test.jsx
  frontend/src/actions/userActions.js
  frontend/src/actions/userActions.test.js
  frontend/src/containers/Login/Login.css
  frontend/src/containers/Login/Login.jsx
  frontend/src/containers/Login/Login.test.jsx
  frontend/src/reducers/loginReducer.js
  frontend/src/reducers/loginReducer.test.js
  frontend/src/services/RESTClient.js
  frontend/src/services/RESTClient.test.js
  frontend/src/services/authService.js
  frontend/src/services/authService.test.js
Due: frontend

Feature/mp 23 filtering (#35)
  frontend/package.json
  frontend/src/components/Navigation/Filter/Filter.jsx
  frontend/src/components/Navigation/Filter/Filter.scss
  frontend/src/components/Navigation/Filter/calendar.svg
  frontend/src/components/Navigation/Filter/filter.svg
  frontend/src/components/Navigation/MainNav/MainNav.jsx
  frontend/src/components/Navigation/MainNav/MainNav.scss
  frontend/src/components/Navigation/MainNav/arrow-left.svg
  frontend/src/components/Navigation/MainNav/arrow-right.svg
  frontend/src/components/Navigation/MainNav/group-9.svg
  frontend/src/components/Navigation/PageHeader/PageHeader.jsx
  frontend/src/containers/Campaign/Campaign.jsx
  package-lock.json
Due: frontend

Bug/mp 40 table overflow issue (#38)
  frontend/src/App.scss
  frontend/src/App.test.jsx
  frontend/src/Vars.scss
  frontend/src/components/DataVisualization/CampaignBubbleChart/CampaignBubbleChart.jsx
  frontend/src/components/DataVisualization/CampaignBubbleChart/CampaignBubbleChart.scss
  frontend/src/components/DataVisualization/DataGrid/DataGrid.css
  frontend/src/components/DataVisualization/DataGrid/DataGrid.jsx
  frontend/src/components/DataVisualization/DataGrid/DataGrid.scss
  frontend/src/components/Navigation/Filter/Filter.scss
  frontend/src/components/Navigation/MainNav/MainNav.scss
  frontend/src/components/Navigation/MobileNav/MobileNav.scss
  frontend/src/containers/Campaign/Campaign.jsx
  frontend/src/containers/Campaign/Campaign.scss
  frontend/src/containers/Campaigns/Campaigns.css
  frontend/src/containers/Campaigns/Campaigns.jsx
  frontend/src/containers/Campaigns/Campaigns.scss
  frontend/src/containers/NavWrapper/NavWrapper.jsx
  frontend/src/containers/NavWrapper/NavWrapper.scss
  frontend/src/containers/Root/Root.jsx
  frontend/src/theme.scss
  frontend/src/utils/dates/dates.js
  frontend/src/utils/dates/dates.test.js
Due: frontend

WIP: wired the Campaign filter (#36)
  frontend/package-lock.json
  frontend/src/actions/campaignActions.js
  frontend/src/actions/campaignActions.test.js
  frontend/src/components/Navigation/Filter/Filter.jsx
  frontend/src/config.js
  frontend/src/config.test.js
  frontend/src/containers/Campaign/Campaign.jsx
  frontend/src/containers/Campaigns/Campaigns.test.jsx
  frontend/src/containers/Dashboard/Dashboard.jsx
  frontend/src/containers/Dashboard/index.js
  frontend/src/containers/NavWrapper/NavWrapper.jsx
  frontend/src/containers/Root/Root.jsx
  frontend/src/schemas/campaignSchema.js
Due: frontend

Feature/campaign coverage (#39)
  frontend/src/components/DataVisualization/DataGrid/DataGrid.scss
  frontend/src/containers/Campaign/Campaign.jsx
  frontend/src/containers/Campaign/Campaign.test.jsx
Due: frontend

Separate reducers in different files and write tests for them (#40)
  frontend/src/middleware/hateoasApi.js
  frontend/src/reducers/curryReducers.js
  frontend/src/reducers/curryReducers.test.js
  frontend/src/reducers/entityReducer.js
  frontend/src/reducers/entityReducer.test.js
  frontend/src/reducers/genericReducer.js
  frontend/src/reducers/genericReducer.test.js
  frontend/src/reducers/rootReducer.js
Due: frontend

Feature/overall ui changes (#42)
  frontend/public/favicon.ico
  frontend/src/components/DataVisualization/DataGrid/DataGrid.scss
  frontend/src/components/DataVisualization/SettingsPopup/SettingsPopup.scss
  frontend/src/components/Navigation/CampaignsListFilter/CampaignsListFilter.scss
  frontend/src/config.js
  frontend/src/containers/Campaign/Campaign.scss
  frontend/src/containers/Campaigns/Campaigns.scss
  frontend/src/logo.svg
Due: frontend

Feature/ui polish (#43)
  frontend/src/components/Navigation/Filter/Filter.scss
  frontend/src/components/Navigation/MainNav/MainNav.jsx
  frontend/src/components/Navigation/MainNav/MainNav.scss
  frontend/src/components/Navigation/MainNav/arrow-right.svg
  frontend/src/components/Navigation/MainNav/log-out.svg
  frontend/src/components/Navigation/MainNav/user-profile.svg
  frontend/src/components/Navigation/MainNav/user.svg
  frontend/src/components/Navigation/PageHeader/PageHeader.jsx
  frontend/src/containers/Campaign/Campaign.jsx
  frontend/src/containers/NavWrapper/NavWrapper.test.jsx
Due: frontend

Feature/mp 43 api options new additions (#41)
  backend/app/app/__init__.py
  backend/app/app/controller/campaign.py
  backend/app/app/model/__init__.py
  backend/app/run.py
  backend/tests/test_main.py
  frontend/src/config.js
Due: backend, frontend

Remove credentials logging and minor cleanup (#44)
  backend/README.md
  backend/app/app/__init__.py
  backend/app/app/controller/campaign.py
  backend/app/app/model/__init__.py
  backend/poetry.lock
  backend/tests/conftest.py
  backend/tests/test_main.py
Due: backend

added jsonified root url (#47)
  backend/app/app/__init__.py
Due: backend

bug/Minor_UI_Corrections_in_Campaign (#46)
  frontend/src/components/DataVisualization/DataGrid/DataGrid.scss
  frontend/src/components/DataVisualization/SettingsPopup/SettingsPopup.scss
  frontend/src/containers/Campaign/Campaign.scss
Due: frontend

Feature/code polishes (#45)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DataVisualization/SettingsPopup/SettingsPopup.scss
  frontend/src/components/Navigation/CampaignsListFilter/CampaignsListFilter.jsx
  frontend/src/components/Navigation/CampaignsListFilter/CampaignsListFilter.test.jsx
  frontend/src/components/Navigation/MainNav/MainNav.jsx
  frontend/src/components/Navigation/SearchableComboList/SearchableComboList.jsx
  frontend/src/components/Navigation/SearchableComboList/SearchableComboList.scss
  frontend/src/components/Navigation/SearchableComboList/SearchableComboList.test.jsx
  frontend/src/containers/Campaign/Campaign.jsx
  frontend/src/containers/Campaign/Campaign.test.jsx
  frontend/src/containers/Campaigns/Campaigns.jsx
  frontend/src/containers/NavWrapper/NavWrapper.jsx
  frontend/src/store/appStore.dev.js
  frontend/src/store/appStore.dev.test.js
  frontend/src/store/appStore.prod.js
  frontend/src/store/appStore.prod.test.js
  frontend/src/store/configureStore.test.js
Due: frontend

Fixed ui issues in MainNav component. Added tests for NavWrapper. (#50)
  frontend/src/components/Navigation/Filter/Filter.scss
  frontend/src/components/Navigation/MainNav/MainNav.jsx
  frontend/src/components/Navigation/MainNav/MainNav.scss
  frontend/src/components/Navigation/MainNav/arrow-left.svg
  frontend/src/components/Navigation/MainNav/arrow-right.svg
  frontend/src/components/Navigation/MainNav/dashboard.svg
  frontend/src/components/Navigation/MainNav/maf-logo.svg
  frontend/src/containers/Campaigns/Campaigns.test.jsx
  frontend/src/containers/NavWrapper/NavWrapper.test.jsx
Due: frontend

Added second user. (#48)
  frontend/src/actions/userActions.js
  frontend/src/config.js
Due: frontend

Bug/ui improvements (#49)
  frontend/src/App.scss
  frontend/src/Vars.scss
  frontend/src/components/DataVisualization/SettingsPopup/SettingsPopup.jsx
  frontend/src/components/DataVisualization/SettingsPopup/SettingsPopup.scss
  frontend/src/components/Navigation/CampaignsListFilter/CampaignsListFilter.scss
  frontend/src/components/Navigation/MainNav/MainNav.scss
  frontend/src/components/Navigation/PageHeader/PageHeader.scss
  frontend/src/theme.scss
Due: frontend

Feature/filter improvements (#51)
  frontend/src/components/Navigation/Filter/Filter.jsx
  frontend/src/components/Navigation/Filter/Filter.scss
  frontend/src/theme.scss
Due: frontend

improved the HATEOAS implementation (#55)
  frontend/src/actions/HATEOASActions.js
  frontend/src/actions/campaignActions.js
  frontend/src/actions/campaignActions.test.js
  frontend/src/components/DataVisualization/SettingsPopup/SettingsPopup.scss
  frontend/src/constants/HATEOASConstants.js
  frontend/src/containers/Campaign/Campaign.jsx
  frontend/src/containers/Campaign/Campaign.test.jsx
  frontend/src/containers/Campaigns/Campaigns.jsx
  frontend/src/containers/Campaigns/Campaigns.test.jsx
  frontend/src/containers/Login/Login.jsx
  frontend/src/containers/Login/Login.test.jsx
  frontend/src/containers/NavWrapper/NavWrapper.test.jsx
  frontend/src/containers/Root/Root.jsx
  frontend/src/middleware/HATEOASApi/createAction.js
  frontend/src/middleware/HATEOASApi/createAction.test.js
  frontend/src/middleware/HATEOASApi/hateoasApi.js
  frontend/src/middleware/HATEOASApi/hateoasApi.test.js
  frontend/src/middleware/HATEOASApi/index.js
  frontend/src/middleware/HATEOASApi/index.test.js
  frontend/src/middleware/HATEOASApi/nestActions.js
  frontend/src/middleware/HATEOASApi/nestActions.test.js
  frontend/src/middleware/HATEOASApi/utils.js
  frontend/src/middleware/HATEOASApi/utils.test.js
  frontend/src/middleware/hateoasApi.js
  frontend/src/middleware/hateoasApi.test.js
  frontend/src/schemas/HATEOAS.js
  frontend/src/schemas/HATEOAS.test.js
  frontend/src/schemas/campaignSchema.js
  frontend/src/schemas/compaignSchema.test.js
  frontend/src/store/appStore.dev.js
  frontend/src/store/appStore.prod.js
Due: frontend
